

body {

    background-color:#0A0A0A;
}

.h1 {
  text-align:center; 
  color:white;
 background-color:#0E294B;
  padding:7px;
  border-radius:7px;
  width: 250px;
  margin-left: 310px;
  
} 

.img1{
   border:3px solid #082567;
   border-radius: 8px;
}

.h2 {
  text-align:center;
}

.h3 {
text-align:center; 
color:blue;
}

.h4 {
  text-align:center;
  color:white;
  font-size:20px;
}

.h5 {
  text-align:center;
  color:red;
}

.h6 {
  text-align:center;
}
 .h7 {
  text-align:center;
  color:red;
 }

 .h8 {
  text-align:center;
 }

 .h9 {
   text-align:center;
   color:white;
   font-size:23px;

 }

 .h10{
  text-align:center;
 }

 .h11 {
  text-align:center;
  color:white;
  font-size:23px;
 }

 .h12 {
  text-align:center;
 }

 .h13 {
  text-align:center;
  color:white;
  font-size:23px;
 }

.h14 {
  text-align:center;
}

.h15{
  text-align:center;
  color:white;
  font-size:23px;
}

.h16{
  color:blue;
  font-size:15px;
}

.h17 {
  color:white;
  font-size:11px;
}
